operator_ip_cidr = "190.47.165.67/32"
key_name         = "cloud-native-key"
availability_zone = "us-east-1f"

# Se puede bajar a t3.small despues de probar estabilidad.
entry_instance_type    = "t3.medium"
services_instance_type = "t3.medium"
