# AWS EC2 / ECS / contenedor backend
SERVER_PORT=8080
CUSTOMER_SERVICE_PORT=8081
SUPPLIER_SERVICE_PORT=8082
NOTIFICATION_SERVICE_PORT=8083

# AWS RDS PostgreSQL - inventario
DB_URL=jdbc:postgresql://REEMPLAZAR_ENDPOINT_RDS:5432/inventorydb
DB_USERNAME=REEMPLAZAR_USUARIO
DB_PASSWORD=REEMPLAZAR_PASSWORD
DB_DRIVER=org.postgresql.Driver

# AWS RDS PostgreSQL - clientes
CUSTOMER_DB_URL=jdbc:postgresql://REEMPLAZAR_ENDPOINT_RDS:5432/customerdb
CUSTOMER_DB_USERNAME=REEMPLAZAR_USUARIO
CUSTOMER_DB_PASSWORD=REEMPLAZAR_PASSWORD

# AWS RDS PostgreSQL - proveedores
SUPPLIER_DB_URL=jdbc:postgresql://REEMPLAZAR_ENDPOINT_RDS:5432/supplierdb
SUPPLIER_DB_USERNAME=REEMPLAZAR_USUARIO
SUPPLIER_DB_PASSWORD=REEMPLAZAR_PASSWORD

# AWS RDS PostgreSQL - notificaciones
NOTIFICATION_DB_URL=jdbc:postgresql://REEMPLAZAR_ENDPOINT_RDS:5432/notificationdb
NOTIFICATION_DB_USERNAME=REEMPLAZAR_USUARIO
NOTIFICATION_DB_PASSWORD=REEMPLAZAR_PASSWORD

# Hibernate
JPA_DDL_AUTO=update

# Azure AD / Microsoft Entra ID
JWT_ISSUER_URI=https://login.microsoftonline.com/94b15b07-9bad-4661-8554-aad0e62b18de/v2.0
JWT_AUDIENCES=api://0f18b5b0-285b-4050-a959-245884ab7670,0f18b5b0-285b-4050-a959-245884ab7670

# Dominio final del frontend Angular publicado
CORS_ALLOWED_ORIGINS=https://REEMPLAZAR_DOMINIO_FRONTEND
