# Backend local
SERVER_PORT=8080
CUSTOMER_SERVICE_PORT=8081
SUPPLIER_SERVICE_PORT=8082
NOTIFICATION_SERVICE_PORT=8083

# Azure AD / Microsoft Entra ID
JWT_ISSUER_URI=https://login.microsoftonline.com/94b15b07-9bad-4661-8554-aad0e62b18de/v2.0
JWT_AUDIENCES=api://0f18b5b0-285b-4050-a959-245884ab7670,0f18b5b0-285b-4050-a959-245884ab7670

# Frontend local permitido por CORS
CORS_ALLOWED_ORIGINS=http://localhost:4200

# Base local: no es necesario configurar PostgreSQL.
# Si estas variables quedan vacias, los microservicios usan H2 en memoria.
JPA_DDL_AUTO=update
